<ion-view title="About">
    <ion-content>
        <div class="row">
            <div class="col">
                Craft Academy Cooper Test Challenge - Mobile Client.
            </div>
        </div>

      <div class="row">
        <div class="col">
          <img ng-src="img/cooper.png">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a class="button button-outline button-positive" href="#/app/test">Click to Test</a>
        </div>
      </div>

    </ion-content>
</ion-view>
